.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: white;
  border: 2px solid rgb(68, 88, 99);
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.paginationItem:hover {
  background-color: rgb(68,88,99);
  color: white;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: white;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgb(68, 88, 99);
  margin: 0 10px;
  cursor: pointer;
}
.prev:hover{
  background-color: rgb(68,88,99);
  color: white;
}
.next:hover {
  background-color: rgb(68,88,99);
  color: white;
}

.paginationItem.active {
  border: 1px solid rgb(68, 88, 99);
  color: white;
  pointer-events: none;
  background-color: rgb(68, 88, 99);
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: rgb(68, 88, 99);
}
