@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.filter-container{
    padding: 25px;
    width: 25%;
    height: 600px;
}
.lapDes-container{
    width: 75%;
}
@media only screen and (max-width: 320px) {
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 360px){
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 361px) and (max-width: 375px){
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 376px) and (max-width: 411px) {
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 412px) and (max-width: 414px){
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 415px) and (max-width: 425px){
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px){
    .filter-container{
        padding: 15px 15px 15px 15px;
        width: 33.33%;
    }
    .lapDes-container{
        width: 66.66%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 769px){
    
}