/* .center{

    position: fixed;
    top: 50%;
    left: 30%;
    margin-top: -300px;
    width: 50%;
} */

.intcolor1{
    color: green;
}
.intcolor2{
    color: rgb(38, 180, 216);
}
.intcolor3{
    color: rgb(173, 35, 162);
}
.icon-size{
    font-size: 30px;
}
@media only screen and (max-width: 320px) {
    .icon-size{
        font-size: 15px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 360px){
    .icon-size{
        font-size: 20px;
    }
}
@media only screen and (min-width: 361px) and (max-width: 375px){
    
}
@media only screen and (min-width: 376px) and (max-width: 411px) {

}
@media only screen and (min-width: 412px) and (max-width: 414px){

}
@media only screen and (min-width: 415px) and (max-width: 425px){

}
@media only screen and (min-width: 426px) and (max-width: 768px){
    
}
@media only screen and (min-width: 769px){
    
}