.card-image:hover{
    border: 2px solid rgb(77, 88, 99);
}
@media only screen and (max-width: 320px)  {
    .popular-laptop-card-text{
        font-size: 12px;
    }
    .popular-laptop-card-title{
        font-size: 16px; 
    }
}
@media only screen and (min-width: 321px) and (max-width: 360px){
    .popular-laptop-card-text{
        font-size: 12px;
    }
    .popular-laptop-card-title{
        font-size: 16px; 
    }
}
@media only screen and (min-width: 361px) and (max-width: 375px){
    .popular-laptop-card-text{
        font-size: 13px;
    }
    .popular-laptop-card-title{
        font-size: 17px; 
    }
}
@media only screen and (min-width: 376px) and (max-width: 411px) {
    .popular-laptop-card-text{
    font-size: 14px;
    }
    .popular-laptop-card-title{
        font-size: 17px; 
    }
}
@media only screen and (min-width: 412px) and (max-width: 414px){
    .popular-laptop-card-text{
        font-size: 14px;
    }
    .popular-laptop-card-title{
        font-size: 17px; 
    }
}
@media only screen and (min-width: 415px) and (max-width: 425px){
    .popular-laptop-card-text{
        font-size: 15px;    
    }
    .popular-laptop-card-title{
        font-size: 18px; 
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px){
    .popular-laptop-card-text{
        font-size: 15px; 
    }
    .popular-laptop-card-title{
        font-size: 18px; 
    }
}
@media only screen and (min-width: 769px){
    .popular-laptop-card-text{
        font-size: 16px;    
    }
    .popular-laptop-card-title{
        font-size: 20px; 
    }
}